.highlight-popup {
  position: absolute;
  background-color: var(--color-bg-app);
  border: 2px solid var(--color-border);
  border-radius: 8px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 100;
  box-shadow: 0 4px 12px var(--color-bg-overlay-light);
}

.popup-title {
  font-size: 16px;
  color: var(--color-text-primary);
  text-align: left;
  padding: 0 4px;
  padding-bottom: 8px;
}
.color-palette{
  display: flex;
  gap: 6px;
}

.color-swatch-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 1px 2px;
  border: 2px solid var(--color-interactive);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  width: 28px;
  height: 28px;
}

.color-swatch-btn:hover {
  border: 3px solid var(--color-interactive-hover);
}

.color-swatch {
  /* width: 24px;
  height: 24px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.color-swatch.none {
  border-color: var(--color-accent-red);
  background-color: transparent;
}

.color-swatch.none svg {
  width: 100%;
  height: 100%;
}